#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #menu-button {margin: 0;padding: 0;border: 0;list-style: none;line-height: 1;display: block;position: relative;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#cssmenu:after,#cssmenu > ul:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
#cssmenu #menu-button {display: none;}
#cssmenu {width: auto;line-height: 1;}
#cssmenu>ul>li.logo{display: block;width: 120px; margin:0 45px 0 20px;}
#cssmenu>ul>li.logo a{padding: 0; padding-top:8px;}
#cssmenu>ul>li.logo a:hover{border:none;}
#cssmenu>ul>li.logo a img{width: 100%;}


#menu-line {position: absolute;top: 0;left: 0;height: 3px;background: #3986EE;-webkit-transition: all 0.25s ease-out;-moz-transition: all 0.25s ease-out;-ms-transition: all 0.25s ease-out;-o-transition: all 0.25s ease-out;transition: all 0.25s ease-out;}
#cssmenu > ul > li {float: left;margin-left:10px;}
#cssmenu.align-center > ul {font-size: 0;text-align: center;}
#cssmenu.align-center > ul > li {display: inline-block;float: none;}
#cssmenu.align-center ul ul {text-align: left;}
#cssmenu.align-right > ul > li {float: right;}
#cssmenu.align-right ul ul {text-align: right;}
#cssmenu > ul > li > a {padding:0 16px;display: block;height:56px;line-height:56px;font-size: 14px;text-decoration: none;text-transform: uppercase;color: #fefefe;-webkit-transition: color .2s ease;-moz-transition: color .2s ease;-ms-transition: color .2s ease;-o-transition: color .2s ease;transition: color .2s ease;}
#cssmenu ul li.has-sub a:hover{border-bottom:2px solid #3986EE;width: 100%;transition: 0.2s all linear;/*设置过度时间*/transition-delay: 0.1s;/*过度延时*/}
#cssmenu ul li.has-sub ul li a:hover,#cssmenu ul li.has-sub ul a:hover{border-bottom:none;}
#cssmenu > ul > li:hover > a,#cssmenu > ul > li.active > a {color: #3986EE;}
/* #cssmenu > ul > li.has-sub > a {padding-right: 25px;} */
/* #cssmenu > ul > li.has-sub > a::after {position: absolute;top:25px;right: 14px;width: 4px;height: 4px;border-bottom: 1px solid #fefefe;border-right: 1px solid #fefefe;content: "";-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: border-color 0.2s ease;-moz-transition: border-color 0.2s ease;-ms-transition: border-color 0.2s ease;-o-transition: border-color 0.2s ease;transition: border-color 0.2s ease;} */
/* #cssmenu > ul > li.has-sub:hover > a::after {border-color: #3986EE;} */
#cssmenu ul ul {background:#fff;padding:40px 50px;position: absolute;left: -9999px;-webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-box-shadow: 0 2px 16px 0 rgba(153,153,153,.6);
  box-shadow: 0 2px 16px 0 rgba(153,153,153,.6);}
#cssmenu ul ul h2{color: #252B3A;font-size: 16px;margin-bottom:20px;}
#cssmenu li:hover > ul {left: auto;}
#cssmenu.align-right li:hover > ul {right: 0;}
#cssmenu ul ul ul {margin-left: 100%;top: 0;}
#cssmenu.align-right ul ul ul {margin-left: 0;margin-right: 100%;}
#cssmenu ul ul li {height: 0;-webkit-transition: height .2s ease;-moz-transition: height .2s ease;-ms-transition: height .2s ease;-o-transition: height .2s ease;transition: height .2s ease;}
#cssmenu ul li:hover > ul > li {height:38px;*height:36px;}
#cssmenu ul ul li a {height: 38px;line-height:38px;*height:40px;*line-height:40px;width: 100px;font-size: 14px;background: #ffffff;text-decoration: none;color: #464964;-webkit-transition: color .2s ease;-moz-transition: color .2s ease;-ms-transition: color .2s ease;-o-transition: color .2s ease;transition: color .2s ease;}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover {color: #3986EE;}
#cssmenu ul ul li.has-sub > a::after {position: absolute;top: 16px;right:15px;width: 4px;height: 4px;border-bottom: 1px solid #252b3a;border-right: 1px solid #252b3a;content: "";-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);-webkit-transition: border-color 0.2s ease;-moz-transition: border-color 0.2s ease;-ms-transition: border-color 0.2s ease;-o-transition: border-color 0.2s ease;transition: border-color 0.2s ease;}
#cssmenu.align-right ul ul li.has-sub > a::after {right: auto;left: 10px;border-bottom: 0;border-right: 0;border-top: 1px solid #dddddd;border-left: 1px solid #dddddd;}
#cssmenu ul ul li.has-sub:hover > a::after {border-color: #3986EE;}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {width: 100%;}
  #cssmenu ul {width: 100%;display: none;background: #ffffff;overflow: auto;-webkit-overflow-scrolling: touch;}
  
  #cssmenu>ul>li.logo{display:none}
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {text-align: left;}
  #cssmenu ul li,#cssmenu ul ul li,#cssmenu ul li:hover > ul > li {width: 100%;height: auto;border-top: 1px solid rgba(120, 120, 120, 0.15);}
  #cssmenu ul li a,#cssmenu ul ul li a {width: 100%;color:#252b3a;height: 40px;line-height: 40px;}
  #cssmenu > ul > li {margin-left:0;}
  #cssmenu > ul > li,#cssmenu.align-center > ul > li,#cssmenu.align-right > ul > li {float: none;display: block;}
  #cssmenu ul ul li a {padding: 0 20px 0 30px;font-size: 14px;color: #000000;background: none;}
  #cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover {color: #000000;}
  #cssmenu ul ul ul li a {padding-left: 40px;}
  #cssmenu ul ul,#cssmenu ul ul ul {position: relative;left: 0;right: auto;width: 100%;margin: 0;border:0;}
 
  #cssmenu > ul > li.has-sub > a::after,#cssmenu ul ul li.has-sub > a::after {display: none;}
  #menu-line {display: none;}
  #cssmenu #menu-button {display: block;height: 56px;color: #ffffff;cursor: pointer;font-size: 12px;text-transform: uppercase;}
  #cssmenu #menu-button::after {content: '';position: absolute;top: 20px;right: 20px;display: block;width: 15px;height: 2px;background: #464964;}
  #cssmenu #menu-button::before {content: '';position: absolute;top: 25px;right: 20px;display: block;width: 15px;height: 3px;border-top: 2px solid #464964;border-bottom: 2px solid #464964;}
#cssmenu #menu-button a.logo{display:inline-block;width:86px;padding:15px 0 0 15px;}
 #cssmenu #menu-button a.hotline{font-size:14px;float: right; margin: 18px 50px 0 0;background-image: url(../img/case/ico-tel.png);background-size:16px 16px;background-repeat:no-repeat;padding-left: 20px;line-height:16px;}
  #cssmenu #menu-button a img{width: 100%;}
  #cssmenu .submenu-button {position: absolute;z-index: 10;right: 0;top: 0;display: block;border-left: 1px solid rgba(120, 120, 120, 0.15);height:40px;width: 52px;line-height: 40px;cursor: pointer;}
  #cssmenu .submenu-button::after {content: '';position: absolute;top: 15px;left: 26px;display: block;width: 1px;height: 11px;background: #000000;z-index: 99;}
  #cssmenu .submenu-button::before {content: '';position: absolute;left: 21px;top: 20px;display: block;width: 11px;height: 1px;background: #000000;z-index: 99;}
  #cssmenu .submenu-button.submenu-opened:after { display: none;}
  
}