@charset "utf-8";

/* Reset */
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, summary, canvas {display:block}
html{font:normal 13px/150% 'opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic"; letter-spacing:-0.5px;}
body {margin:0; padding:0; color:#333; font-smoothing:antialiased; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none;}
div, p, ol, ul, li, img, a, h1, h2, h3, h4, h5, h6, form, span, iframe, dl, dt, dd {margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none; color:#333;}
table, th, td {margin:0; padding:0; border:0; border-spacing:0; border-collapse:collapse;}
img {border:0; vertical-align:middle;}
form, fieldset{margin:0; padding:0; border:none;}
caption ,legend{position:absolute; text-indent:-99999px; overflow:hidden; /* display:none; */}
input, button, textarea, select {font:normal 13px/150% 'opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic";}

* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}
/* 본고딕 */
@font-face{
	font-family:'notosans';
	font-weight:normal;
	font-style: normal;
	src:url("../font/notosans/notosans-regular.eot");
	src:url("../font/notosans/notosans-regular.eot?#iefix") format('embedded-opentype'),
		url("../font/notosans/notosans-regular.woff2") format('woff2'),
		url("../font/notosans/notosans-regular.woff") format('woff');
}
@font-face{
	font-family:'notosans';
	font-weight:300;
	font-style: normal;
	src:url("../font/notosans/notosans-medium.eot");
	src:url("../font/notosans/notosans-medium.eot?#iefix") format('embedded-opentype'),
		url("../font/notosans/notosans-medium.woff2") format('woff2'),
		url("../font/notosans/notosans-medium.woff") format('woff');
}
@font-face{
	font-family:'notosans';
	font-weight:600;
	font-style: normal;
	src:url("../font/notosans/notosans-bold.eot");
	src:url("../font/notosans/notosans-bold.eot?#iefix") format('embedded-opentype'),
		url("../font/notosans/notosans-bold.woff2") format('woff2'),
		url("../font/notosans/notosans-bold.woff") format('woff');
}

/* 나눔스퀘어 */
@font-face{
	font-family:'nanumsr';
	font-weight:normal;
	font-style: normal;
	src:url("../font/nanumsr/nanumsquare-regular.eot");
	src:url("../font/nanumsr/nanumsquare-regular.eot?#iefix") format('embedded-opentype'),
		url("../font/nanumsr/nanumsquare-regular.woff2") format('woff2'),
		url("../font/nanumsr/nanumsquare-regular.woff") format('woff');
}
@font-face{
	font-family:'nanumsr';
	font-weight:600;
	font-style: normal;
	src:url("../font/nanumsr/nanumsquare-bold.eot");
	src:url("../font/nanumsr/nanumsquare-bold.eot?#iefix") format('embedded-opentype'),
		url("../font/nanumsr/nanumsquare-bold.woff2") format('woff2'),
		url("../font/nanumsr/nanumsquare-bold.woff") format('woff');
}


/* Roboto */
@font-face{
	font-family:'roboto';
	font-weight:normal;
	font-style: normal;
	src:url("../font/roboto/roboto-regular.eot");
	src:url("../font/roboto/roboto-regular.eot?#iefix") format('embedded-opentype'),
		url("../font/roboto/roboto-regular.woff2") format('woff2'),
		url("../font/roboto/roboto-regular.woff") format('woff');
}
@font-face{
	font-family:'roboto';
	font-weight:300;
	font-style: normal;
	src:url("../font/roboto/roboto-medium.eot");
	src:url("../font/roboto/roboto-medium.eot?#iefix") format('embedded-opentype'),
		url("../font/roboto/roboto-medium.woff2") format('woff2'),
		url("../font/roboto/roboto-medium.woff") format('woff');
}
@font-face{
	font-family:'roboto';
	font-weight:600;
	font-style: normal;
	src:url("../font/roboto/roboto-bold.eot");
	src:url("../font/roboto/roboto-bold.eot?#iefix") format('embedded-opentype'),
		url("../font/roboto/roboto-bold.woff2") format('woff2'),
		url("../font/roboto/roboto-bold.woff") format('woff');
}


/* Opensans */
@font-face{
	font-family:'opensans';
	font-weight:normal;
	font-style: normal;
	src:url("../font/opensans/opensans-regular.eot");
	src:url("../font/opensans/opensans-regular.eot?#iefix") format('embedded-opentype'),
		url("../font/opensans/opensans-regular.woff2") format('woff2'),
		url("../font/opensans/opensans-regular.woff") format('woff');
}
@font-face{
	font-family:'opensans';
	font-weight:600;
	font-style: normal;
	src:url("../font/opensans/opensans-bold.eot");
	src:url("../font/opensans/opensans-bold.eot?#iefix") format('embedded-opentype'),
		url("../font/opensans/opensans-bold.woff2") format('woff2'),
		url("../font/opensans/opensans-bold.woff") format('woff');
}


/* skipnavi */
#skipnavi {position:absolute; top:0; left:0; z-index:99999; width:100%; height:0;}
#skipnavi a {display:block; overflow:hidden; width:1px; height:1px; margin-left:-1px; margin-bottom:-1px; text-align:center; font-size:0;}
#skipnavi a:focus, #skipnavi a:hover {width:100%; height:80px; line-height:80px; padding:0; font-size:18px; background:rgba(51,57,73,.9); color:#fff; font-family:roboto,'opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic"; font-weight:300; letter-spacing:0; z-index:9000;}


/* Common */
.blind,legend{display:block; overflow:hidden; position:absolute; top:-10000em; left:0}
:root legend{margin-top:-1px; font-size:0; line-height:0}
.ellipsis{overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis}


/* align */
.tleft{text-align:left !important;}
.tcenter{text-align:center !important;}
.tright{text-align:right !important;}
.clearfix {clear:both; display:block; height:0;}
.clearfix:after{content:""; display: block; clear:both;}


/* text color */
.txt_red{color:#e90030 !important;}
.txt_point1{color:#5972aa !important;}
.txt_gray1{color:#606060 !important;}
.txt_gray2{color:#808080 !important;}
.txt_gray3{color:#909090 !important;}


/* background color */
.bg_red{background:#e90030;}


/* highlight color */
/* .highlight{background:#fde6ea !important;} */
.highlight{background:#fff !important; color:#e90030 !important; font-weight:bold !important;}


/* default */
.fl {float:left}
.fr {float:right}
.cboth {display:block; content:"";clear:both}
.inblk {display:inline-block;}
.vgt{vertical-align:top}zzzzz
.vgm{vertical-align:middle}
.ovh{overflow:hidden}


/* padding */
.pd00 {padding:0 !important}
.pd20 {padding:20px !important}
.pr00 {padding-right:0 !important}
.pr05 {padding-right:5px !important}
.pr10 {padding-right:10px !important}
.pr15 {padding-right:15px !important}
.pr20 {padding-right:20px !important}
.pr25 {padding-right:15px !important}
.pl05 {padding-left:5px !important}
.pl10 {padding-left:10px !important}
.pl15 {padding-left:15px !important}
.pl20 {padding-left:20px !important}
.pl25 {padding-left:25px !important}
.pl30 {padding-left:30px !important}
.pt50 {padding-top:50px !important}
.pdt07 {padding-top:7px !important}
.pdt10 {padding-top:10px !important}
.pb50 {padding-bottom:50px !important}
.pb10 {padding-bottom:10px !important}
.pl55p {padding-left:55% !important}
.pl70p {padding-left:70% !important}


/* Width px */
.wid20 {width:20px !important}
.wid40 {width:40px !important}
.wid60 {width:60px !important}
.wid80 {width:80px !important}
.wid90 {width:90px !important}
.wid100 {width:100px !important}
.wid120 {width:120px !important}
.wid140 {width:140px !important}
.wid150 {width:150px !important}
.wid160 {width:160px !important}
.wid180 {width:180px !important}
.wid200 {width:200px !important}
.wid220 {width:220px !important}
.wid240 {width:240px !important}
.wid260 {width:260px !important}
.wid280 {width:280px !important}
.wid300 {width:300px !important}
.wid320 {width:320px !important}
.wid340 {width:340px !important}
.wid360 {width:360px !important}
.wid380 {width:380px !important}
.wid400 {width:400px !important}
.wid420 {width:420px !important}
.wid440 {width:440px !important}
.wid460 {width:460px !important}
.wid480 {width:480px !important}
.wid500 {width:500px !important}
.wid600 {width:600px !important}
.wid700 {width:700px !important}
.wid800 {width:800px !important}
.wid900 {width:900px !important}
.wid1000 {width:1000px !important}
.wid1100 {width:1100px !important}


/* Width % */
.wid10p {width:10% !important}
.wid20p {width:20% !important}
.wid30p {width:30% !important}
.wid40p {width:40% !important}
.wid45p {width:45% !important}
.wid50p {width:50% !important}
.wid55p {width:55% !important}
.wid60p {width:60% !important}
.wid70p {width:70% !important}
.wid80p {width:80% !important}
.wid100p {width:100% !important}

/* Height px */
.hei500 {max-height:500px !important;}
.hei510 {max-height:510px !important;}
.hei520 {max-height:520px !important;}
.hei530 {max-height:530px !important;}
.hei540 {max-height:540px !important;}
.hei550 {max-height:550px !important;}
.hei600 {max-height:600px !important;}

/* Margin */
.mg00 {margin:0px !important}
.mg05 {margin:5px !important}
.mg10 {margin:10px !important}
.mg15 {margin:15px !important}
.mg20 {margin:20px !important}
.mg25 {margin:25px !important}
.mg30 {margin:30px !important}
.mg35 {margin:35px !important}
.mg40 {margin:40px !important}
.mg50 {margin:50px !important}

.mgtm12 {margin-top:-12px !important}
.mgtm15 {margin-top:-15px !important}
.mgt00 {margin-top:0px !important}
.mgt05 {margin-top:5px !important}
.mgt10 {margin-top:10px !important}
.mgt13 {margin-top:13px !important}
.mgt15 {margin-top:15px !important}
.mgt20 {margin-top:20px !important}
.mgt25 {margin-top:25px !important}
.mgt30 {margin-top:30px !important}
.mgt35 {margin-top:35px !important}
.mgt40 {margin-top:40px !important}
.mgt45 {margin-top:45px !important}
.mgt50 {margin-top:50px !important}
.mgt80 {margin-top:80px !important}

.mgr00 {margin-right:0px !important}
.mgr05 {margin-right:5px !important}
.mgr10 {margin-right:10px !important}
.mgr15 {margin-right:15px !important}
.mgr20 {margin-right:20px !important}
.mgr25 {margin-right:25px !important}
.mgr30 {margin-right:30px !important}
.mgr35 {margin-right:35px !important}
.mgr40 {margin-right:40px !important}
.mgr50 {margin-right:50px !important}

.mgb00 {margin-bottom:0px !important}
.mgb05 {margin-bottom:5px !important}
.mgb10 {margin-bottom:10px !important}
.mgb15 {margin-bottom:15px !important}
.mgb20 {margin-bottom:20px !important}
.mgb25 {margin-bottom:25px !important}
.mgb30 {margin-bottom:30px !important}
.mgb35 {margin-bottom:35px !important}
.mgb40 {margin-bottom:40px !important}
.mgb45 {margin-bottom:45px !important}
.mgb50 {margin-bottom:50px !important}
.mgb60 {margin-bottom:60px !important}
.mgb70 {margin-bottom:70px !important}

.mgl00 {margin-left:0px !important}
.mgl05 {margin-left:5px !important}
.mgl10 {margin-left:10px !important}
.mgl15 {margin-left:15px !important}
.mgl20 {margin-left:20px !important}
.mgl25 {margin-left:25px !important}
.mgl30 {margin-left:30px !important}
.mgl35 {margin-left:35px !important}
.mgl40 {margin-left:40px !important}
.mgl50 {margin-left:50px !important}


/* hiddentext */
.hiddentext div {font-size:0; line-height:0; padding:0; margin:0; height:0; width:0;}
.hiddentext dl {font-size:0; line-height:0; padding:0; margin:0; height:0; width:0;}
.hiddentext dt {font-size:0; line-height:0; padding:0; margin:0; height:0; width:0;}
.hiddentext dd {font-size:0; line-height:0; padding:0; margin:0; height:0; width:0;}
.hiddentext p {font-size:0; line-height:0; padding:0; margin:0; height:0; width:0;}
.hiddentext ul {font-size:0; line-height:0; padding:0; margin:0; height:0; width:0;}
.hiddentext li {font-size:0; line-height:0; padding:0; margin:0; height:0; width:0;}


/* input_text */
.inputxt_normal{position:relative; display:inline-block; height:34px; border:1px solid #cccdcf; vertical-align:middle; border-radius:0;}
.inputxt_normal.error{border:1px solid #e90030;}
.inputxt_normal.spider{display:block; margin-right:0;}
.inputxt_normal input{height:34px; line-height:34px; margin:0; border:0; padding:1px 10px; text-align:left; font-size:13px; color:#404040; box-sizing:border-box; font-weight:normal; background:#fff;}
.inputxt_normal.spider input{width:100%;}
.inputxt_normal input[disabled]{background:#f4f4f4;}
.inputxt_normal input[readonly]{background:#f4f4f4;}
.inputxt_normal .ui-datepicker-trigger{position: absolute; top:50%; right:8px; margin-top:-7px; cursor:pointer;}


/* file_import */
.file_import{position:relative; display:inline-block; padding-right:83px;}
.file_import label
{
	display:block; position:absolute; right:0; top:0;
	text-align:center; padding:7px 20px 8px; font-size:13px; vertical-align:middle; cursor:pointer; border:1px solid #656873; color:#fff; line-height:150%;
	font-family:roboto,'opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic"; font-weight:300;
	letter-spacing:0; text-align:center; background:#848894 url('../images/common/btn_gray01.png') repeat-x 50% bottom; background-size:1px 35px;
}
.file_import label input{position:absolute; width:0; height:0; overflow:hidden;}
.file_import div{position:relative; height:34px; border:1px solid #cccdcf; vertical-align:middle;}
.file_import input{height:32px; line-height:32px; margin:0; border:0; padding:1px 0; text-align:left; font-size:13px; color:#404040; font-weight:normal; background:#fff; text-indent:10px; width:300px;}
.file_import input[disabled]{background:#f4f4f4;}
.file_import input[readonly]{background:#f4f4f4;}


/* check */
.btn_check {position:relative; display:inline-block; height:22px; vertical-align:middle;}
.btn_check label {display:block; height:22px; line-height:20px; color:#404040; font-size:13px; padding-left:30px; background:url('../images/common/check_ty2_none.png') no-repeat left 50%; letter-spacing:-0.5px; cursor:pointer; transition:all .25s ease;}
.btn_check input[type='checkbox']:focus + label{outline:2px solid #000;}
.btn_check input[type='checkbox']:checked + label {background:url('../images/common/check_ty2_checked.png') no-repeat left 50%;}
.btn_check input[type='checkbox'] {position:absolute; opacity:0;}
.btn_check input[disabled]+label{color:#999;}
.btn_check input[readonly]+label{color:#999;}

.btn_check.multi_txt{min-height:22px; height:auto;}
.btn_check.multi_txt label {min-height:22px; height:auto; background:url('../images/common/check_ty2_none.png') no-repeat left 0;}
.btn_check.multi_txt input[type='checkbox']:checked + label {background:url('../images/common/check_ty2_checked.png') no-repeat left 0;}


/* switch_check */
.switch_check {position:relative; display:inline-block; overflow:hidden; vertical-align:middle;}
.switch_check input[type='checkbox'] + label {display:block; height:18px; width:36px; cursor:pointer; background:#eee; position:relative; border:1px solid #d5d5d5; border-radius:30px; padding:2px;}
.switch_check input[type='checkbox'] + label:after {content:''; position:absolute; left:1px; top:1px; width:18px; height:18px; border:1px solid #d5d5d5; background:#fff; border-radius:50%; transition:all .10s ease;}
.switch_check input[type='checkbox']:checked + label {background:#e90030; border:1px solid #e90030;}
.switch_check input[type='checkbox']:checked + label:after {left:18px; border:1px solid #fff;}
.switch_check input[type='checkbox']:focus + label {outline:auto;}
.switch_check input[type='checkbox'] {position:absolute; opacity:0;}

/* radio */
.btn_radio {position:relative; display:inline-block; height:22px; overflow:hidden; vertical-align:middle;}
/* .btn_radio label {display:block; height:22px; line-height:20px; color:#404040; font-size:13px; padding-left:30px; background:url('../images/common/radio_ty1_none.png') no-repeat left 50%; letter-spacing:-0.5px; cursor:pointer; transition:all .25s ease;} */
.btn_radio input[type='radio'] + label {display:inline-block; height:22px; line-height:22px; color:#404040; font-size:13px; padding-left:30px; background:url('../images/common/radio_ty1_none.png') no-repeat left 50%; letter-spacing:-0.5px; cursor:pointer; transition:all .25s ease;}
.btn_radio input[type='radio']:checked + label {background:url('../images/common/radio_ty1_checked.png') no-repeat left 50%;}
.btn_radio input[type='radio']:focus + label {outline:auto;}
.btn_radio input[type='radio'][disabled]+label{color: #999;}
.btn_radio input[type='radio'][readonly]+label{color: #999;}
.btn_radio input[type='radio'] {position:absolute; opacity:0;}


/* select */
.select_normal {display:inline-block; height:34px; *display:inline; *zoom:1; border:1px solid #cccdcf; vertical-align:middle; margin-right:2px; border-radius:0; background:#fff url('../images/common/select_ty2.png') right 50% no-repeat; background-size:36px 34px; overflow:hidden;}
.select_normal.spider{display:block; margin-right:0;}

.select_normal select {
	width: 100%;
	height: 34px;
	line-height: 34px;
	color: #555;
	letter-spacing: -0.5px;
	padding: 0 0 0 10px;
	background: none;
	font-size: 13px;
	-webkit-appearance: none;
	border: 0;
	margin: 0;
	cursor: pointer;
	border-radius: 0;
	padding:0 40px 0 10px !important;
	-webkit-padding-end: 43px !important;
	-webkit-padding-start: 10px !important;
}
.select_normal option {line-height:25px; font-size:13px}
.select_normal select::-ms-expand {display:none;}
@-moz-document url-prefix() {.mreservation_box .select select {background:none;}}

/* textarea */
.textarea_normal{display:inline-block; background:#fff; border:1px solid #cccdcf;}
.textarea_normal.spider{display:block;}
.textarea_normal textarea{display:block; width:100%; border:0; padding:15px; color:#404040; font-size:13px; outline:none; border-radius:0; box-sizing:border-box; resize:none;}

/* button */
.btnarea{position:relative;}
.btnarea_right{position:relative; text-align:right;}
.btnarea_center{position:relative; text-align:center;}
.btnarea_left{position:relative; text-align:left;}
.btnarea_confirm{border-top:1px solid #ddd; text-align:center; padding-top:20px;}
.btnarea_dual{position:relative; overflow:hidden;}

.btn_gray
{
    display:inline-block; line-height:150%;
    background:#848894 url('../images/common/btn_gray01.png') repeat-x 50% bottom; background-size:1px 35px;
    border:1px solid #656873; color:#fff;
    text-align:center; vertical-align:middle;
    letter-spacing:-0.5px; border-radius:0; cursor:pointer;
    font-family:roboto,'opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic"; font-weight:300; letter-spacing:0;
}
.btn_gray.ico{padding:0 20px; padding-right:0;}
.btn_gray span{display:block; padding:7px 20px 8px; font-size:13px;}
.btn_gray span.small{display:block; padding:5px 15px 6px; font-size:13px;}
.btn_gray span.large{padding:13px 28px 12px; font-size:15px;}
.btn_gray span.movie{background:url('../images/common/ico_movie.png') no-repeat left 50%; background-size:19px 19px; padding-left:23px;}
.btn_gray span.search{background:url('../images/common/ico_search.png') no-repeat left 50%; background-size:19px 19px; padding-left:23px;}
.btn_gray span.down{background:url('../images/common/ico_download_w.png') no-repeat left 50%; background-size:13px 17px; padding-left:20px;}


.btn_red
{
    display:inline-block; line-height:150%;
    background:#e90030 url('../images/common/btn_red01.png') repeat-x 50% bottom; background-size:1px 35px;
    border:1px solid #c60029; color:#fff;
    text-align:center; vertical-align:middle;
    letter-spacing:-0.5px; border-radius:0; cursor:pointer;
    font-family:roboto,'opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic"; font-weight:300; letter-spacing:0;
}
.btn_red.ico{padding:0 20px; padding-right:0;}
.btn_red span{display:block; padding:8px 20px 7px; font-size:13px;}
.btn_red span.large{padding:13px 28px 12px; font-size:15px;}
.btn_red.clone span{padding:8px 0 7px;}
.btn_red.clone span.large{padding:13px 0 12px;}
.btn_red span.movie{background:url('../images/common/ico_movie.png') no-repeat left 50%; background-size:19px 19px; padding-left:23px;}
.btn_red span.search{background:url('../images/common/ico_search.png') no-repeat left 50%; background-size:19px 19px; padding-left:23px;}

.btn_white
{
    display:inline-block; line-height:150%;
    background:#fff url('../images/common/btn_white01.png') repeat-x 50% bottom; background-size:1px 35px;
    border:1px solid #bdbdbd; color:#404040;
    text-align:center; vertical-align:middle;
    letter-spacing:-0.5px; border-radius:0; cursor:pointer;
    font-family:roboto,'opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic"; font-weight:300; letter-spacing:0;
}
.btn_white.ico{padding:0 20px; padding-right:0; border:1px solid #ddd; background:none;}
.btn_white span{display:block; padding:8px 20px 7px; font-size:13px;}
.btn_white span.small{display:block; padding:4px 15px 5px; font-size:13px;}
.btn_white span.large{padding:13px 28px 12px; font-size:15px;}
.btn_white.clone span{padding:8px 0 7px;}
.btn_white.clone span.large{padding:13px 0 12px;}
.btn_white span.down{background:url('../images/common/ico_download.png') no-repeat left 50%; background-size:13px 17px; padding-left:20px;}


.sbtn_white
{
    display:inline-block; line-height:180%;
    background:#fff url('../images/common/btn_white01.png') repeat-x 50% bottom; background-size:1px 35px;
    border:1px solid #bdbdbd; color:#404040;
    text-align:center; vertical-align:middle;
    letter-spacing:-0.5px; border-radius:0; cursor:pointer;
    font-family:roboto,'opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic"; font-weight:300; letter-spacing:0;margin: 2px !important;
}


.sbtn_white.ico{padding:0 20px; padding-right:0; border:1px solid #ddd; background:none;}
.sbtn_white span{display:block; padding:2px 10px 2px; font-size:11px; width: 140px; }
.sbtn_white span.small{display:block; padding:4px 15px 5px; font-size:13px;}
.sbtn_white span.large{padding:13px 28px 12px; font-size:15px;}
.sbtn_white.clone span{padding:8px 0 7px;}
.sbtn_white.clone span.large{padding:13px 0 12px;}
.sbtn_white span.down{background:url('../images/common/ico_download.png') no-repeat left 50%; background-size:13px 17px; padding-left:20px;}

.add_wish_ty1
{
    display:inline-block;  width:44px; height:44px;
    background:rgba(255,255,255,.9) url('../images/common/btn_wishlist_off.png') no-repeat 50% 50%; background-size:20px 19px;
    border:0; vertical-align:middle; border-radius:50%; cursor:pointer; box-sizing:border-box; transition:all .25s ease;
}
.add_wish_ty1.active{background:#fff url('../images/common/btn_wishlist_on.png') no-repeat 50% 50%; background-size:20px 19px;}
.add_wish_ty1:hover, .add_wish_ty1:focus{background:#fff url('../images/common/btn_wishlist_on.png') no-repeat 50% 50%; background-size:20px 19px;}


.add_wish_ty2
{
    display:inline-block;  width:40px; height:40px;
    background:#fff url('../images/common/btn_wishlist_off.png') no-repeat 50% 50%; background-size:20px 19px;
    border:1px solid #ddd; vertical-align:middle; border-radius:0; cursor:pointer; box-sizing:border-box; transition:all .25s ease;
}
.add_wish_ty2.active{background:#fff url('../images/common/btn_wishlist_on.png') no-repeat 50% 50%; background-size:20px 19px;}
.add_wish_ty2:hover, .add_wish_ty2:focus{background:#fff url('../images/common/btn_wishlist_on.png') no-repeat 50% 50%; background-size:20px 19px;}


.add_wish_ty3
{
    display:inline-block;  width:34px; height:34px;
    background:rgba(255,255,255,.9) url('../images/common/btn_wishlist_off.png') no-repeat 50% 9px; background-size:20px 19px;
    border:0; vertical-align:middle; border-radius:50%; cursor:pointer; box-sizing:border-box; transition:all .25s ease;
}
.add_wish_ty3.active{background:#fff url('../images/common/btn_wishlist_on.png') no-repeat 50% 9px; background-size:20px 19px;}
.add_wish_ty3:hover, .add_wish_ty3:focus{background:#fff url('../images/common/btn_wishlist_on.png') no-repeat 50% 9px; background-size:20px 19px;}

.label_sbc
{
    display:block;  width:56px; height:56px;
    background:url('../images/common/label_kosme.png') no-repeat 50% 50%; background-size:56px 56px;
}

.label_GBSF
{
    display:block;  width:56px; height:56px;
    background:url('/front/images/common/gbsf_2.png') no-repeat 50% 50%; background-size:56px 56px;
    
}
.label_2019
{
    display:block;  width:56px; height:56px;
    background:url('/front/images/common/label_2019.png') no-repeat 50% 50%; background-size:56px 56px;
    
}
.label_kepco
{
    display:block;  width:56px; height:56px;
    background:url('/front/images/common/label_kepco.png') no-repeat 50% 50%; background-size:56px 56px;
    
}
/* paging */
.paging{position:relative; text-align:center; font-size:0; letter-spacing:0; word-spacing:0; margin-top:30px;}
.paging .ctrl{display:inline-block; border:1px solid #ccc; height:40px; width:44px; vertical-align:middle; margin-left:-1px;}
.paging .ctrl.first{background:#fff url('../images/common/paging_first.png') no-repeat 50% 50%; background-size:13px 13px;}
.paging .ctrl.first:hover{background:#f5f5f5 url('../images/common/paging_first.png') no-repeat 50% 50%; background-size:13px 13px;}
.paging .ctrl.back{background:#fff url('../images/common/paging_back.png') no-repeat 50% 50%; background-size:7px 13px;}
.paging .ctrl.back:hover{background:#f5f5f5 url('../images/common/paging_back.png') no-repeat 50% 50%; background-size:7px 13px;}
.paging .ctrl.next{background:#fff url('../images/common/paging_next.png') no-repeat 50% 50%; background-size:7px 13px; margin-left:-1px;}
.paging .ctrl.next:hover{background:#f5f5f5 url('../images/common/paging_next.png') no-repeat 50% 50%; background-size:7px 13px;}
.paging .ctrl.last{background:#fff url('../images/common/paging_last.png') no-repeat 50% 50%; background-size:13px 13px;}
.paging .ctrl.last:hover{background:#f5f5f5 url('../images/common/paging_last.png') no-repeat 50% 50%; background-size:13px 13px;}

.paging .num{display:inline-block; border:1px solid #ccc; text-align:center; margin-left:-1px; height:40px;  width:44px; background:#fff; vertical-align:middle; position:relative;}
.paging .num:hover{background:#f5f5f5;}
.paging .num span{display:inline-block; color:#666; font-size:14px; line-height:130%; font-weight:700; font-family:roboto; padding-top:12px;}
.paging .num.active{border:1px solid #e90030; z-index:9;}
.paging .num.active span{border-bottom:1px solid #e90030; color:#e90030;}

/* slick Slider 초기세팅 */
.slick-slider{position:relative; display:block; box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -ms-touch-action:pan-y; touch-action:pan-y; -webkit-tap-highlight-color:transparent;}
.slick-list{position:relative; display:block; overflow:hidden;}
.slick-list.dragging{cursor:-webkit-grab;}
.slick-slider .slick-track, .slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.slick-track{display:block; position:relative; top:0; left:0;}
.slick-track:before, .slick-track:after{display:table; content: "";}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none; float:left; min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block; height:auto; border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}
.not-kor {	ime-mode:disabled; }

/* 20171213 단독으로 쓰기위해 이종열 추가 */
.supply_box2{display:inline-block; background:#fff; border:1px solid #ddd; font-size:11px; padding:0 10px; height:22px; line-height:22px; color:#404040; letter-spacing:normal; border-radius:15px;}


/* image gray 처리 */
.grayscale
{
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
	filter: gray;-webkit-filter: grayscale(100%);
}
.grayscale.grayscale-fade {-webkit-transition: -webkit-filter .5s;}
.grayscale.grayscale-fade:hover {-webkit-filter: grayscale(0%); filter: none;}
.grayscale-replaced.grayscale-fade svg {opacity: 1; -webkit-transition: opacity .5s ease; transition: opacity .5s ease;}
.grayscale-replaced.grayscale-fade:hover svg {opacity: 0;}

/*상품 거래조건 비고 : 맞춤생산가능, 단종예정, 한정상품, 샘플배송*/
/* .purhcnd01 {background:#e80532 !important; color:#fff !important;}
.purhcnd02 {background:#3e7acf !important; color:#fff !important;}
.purhcnd03 {background:#ff7e05 !important; color:#fff !important;}
.purhcnd04 {background:#7561cf !important; color:#fff !important;} */

.purhcnd01 {background:#eb1c45 !important; color:#fff !important;}
.purhcnd02 {background:#4f85d1 !important; color:#fff !important;}
.purhcnd03 {background:#ff8a1c !important; color:#fff !important;}
.purhcnd04 {background:#8270d4 !important; color:#fff !important;}
.purhcnd05 {background:#eb1c45 !important; color:#fff !important;}

.nationCd01 {background:#6c707a !important; color:#fff !important;}



/* 상품 상세 페이지 사용자 입력 */
.config_list_bk { background: #fcfcfc !important; }
._lineH220 { line-height: 220% !important; }
.h57 {height:57px !important}
.viewIntrcn {margin-left: -280px;margin-top: 11px;font-size: 20px;color: #404040;font-family: roboto,'opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic";font-weight: 300;}
/* Supply Details */
.supply_btn_gray {
	display:inline-block;
    background:#9c9fa9;
    border:1px solid #84868f; color:#fff;
    text-align:center; vertical-align:middle;
    letter-spacing:-0.5px;
	padding:3px 10px;
    font-family:roboto,'opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic";letter-spacing:0;
	}
.supply_btn_pink {
	display:inline-block;
    background:#f26d7d;
    border:1px solid #bb515e; color:#fff;
    text-align:center; vertical-align:middle;
    letter-spacing:-0.5px;
	padding:3px 10px;
    font-family:roboto,'opensans','Malgun Gothic','맑은 고딕','Helvetica nenu',Arial, "Apple SD Gothic";letter-spacing:0;
	}
	
	
.textbox {position: relative; }

.textbox label {
  position: absolute;
  top: 1px;  /* input 요소의 border-top 설정값 만큼 */
  left: 1px;  /* input 요소의 border-left 설정값 만큼 */
  padding: .8em .5em;  /* input 요소의 padding 값 만큼 */
  color: #999;
  cursor: text;
}

.textbox input[type="text"]	{}

.line {border-bottom:1px solid #ddd !important;}

.tooltips{background-color:#ffffdf; border:1px solid #d2d2d2;}

.wh18{width:18px !important; height:18px !important;}
#l_goods_dc{
	word-wrap: break-word;
	word-break:keep-all;
	font-size : 14px !important;
	font-family: Verdana !important; 
	min-height: 450px !important; 
}
.product_view .detail_tab ul li{position:relative;float:left;width: 20%;}

.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
	font-size:22px;
	letter-spacing:0;
	display:inline-block;
	margin-left:5px;
	color:#FFB4B4;
	text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:#FF0000;}
.star_rating a.on::after {display:block; content:""; width:20px; height:1px; box-shadow:0px 1px 0px #FF0000;}

.Empty { height: 60px; margin-top: 40px; text-align: center;}
.disnone { display: none}
	







/* footer banner*/
.footer-wrap {margin:0 auto; border-top: 1px solid #c5c5c5; width:100%;}
.footer-wrap .footer_top {position: relative;padding: 18px 50px;max-width: 1500px;margin: 0 auto;}
.footer-wrap .footer_top .slick-initialized .slick-slide {margin-right: 60px;}
.footer-wrap .footer_top .site_list {padding-right: 160px;}
 .footer-wrap .footer_top .slick-control {position: absolute;right: 50px;top: 50%;transform: translateY(-50%);font-size: 0;z-index: 99;  }
.footer-wrap .footer_top .slick-control button {display: inline-block;border: 1px solid #c7c7c7;margin-left: -1px; cursor:pointer;}
.footer-wrap .footer_top .slick-control .slick-prev {width: 40px;height: 40px;background: #fff url('../images/common/f_prev.png') no-repeat 50% 50%;}
.footer-wrap .footer_top .slick-control .slick-pause {width: 40px;height: 40px;background: #fff url('../images/common/f_stop.png') no-repeat 50% 50%;}
.footer-wrap .footer_top .slick-control .slick-play {width: 40px;height: 40px;background: #fff url('../images/common/f_play.png') no-repeat 50% 50%;display: none;}
.footer-wrap .footer_top .slick-control .slick-next {
width: 40px;
height: 40px;
background: #fff url('../images/common/f_next.png') no-repeat 50% 50%;}
.footer-wrap .footer_top .slick-control .slick-more {width: 40px;height: 40px;background: #fff url('../images/common/f_more.png') no-repeat 50% 50%;}

.blind {
    position: absolute!important;
    margin: 0 !important;
    padding: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-break: normal;
    word-wrap: normal;
}
 
 
 /* footer end */
